@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@100;300;400;700;900&display=swap');

@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764eff5d8a0701b7ac6b8_Geomanist-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efa1b3758aca3182fb_Geomanist-Black-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efb1c5850618211b4d_Geomanist-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efcc04b8a25857d88f_Geomanist-ExtraLight-Italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efaab43578f5095e5e_Geomanist-Bold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist book';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efd5a70134ded94e90_Geomanist-Book-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist book';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764ef912c660559d8e1dd_Geomanist-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efa7499c408669dec3_Geomanist-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efbe01876b37e8228b_Geomanist-Medium-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efb834a9793a19d15d_Geomanist-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764ef00e1e1656b1cabe4_Geomanist-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764ef2cc2cc0064ea26dd_Geomanist-Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efdb36e9022efc368a_Geomanist-Regular-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764ef5e2158274613afb4_Geomanist-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efb142676b5fa03ff3_Geomanist-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efa1b3757cda3182fc_Geomanist-Thin-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist ultra';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764eff80152e874e20628_Geomanist-Ultra-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Geomanist ultra';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764ef28fa4953ecff757c_Geomanist-Ultra.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces72ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e3ab189606ea32f73_Fraunces72ptSuperSoft-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces72ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e1a73962ed32341b8_Fraunces72ptSuperSoft-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces72ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e2ef6200b430e6c78_Fraunces72ptSuperSoft-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces72ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3edbaafda8cdfbf02a_Fraunces72ptSuperSoft-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces72ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e270cdebfd78a01e5_Fraunces72ptSuperSoft-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces72ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e240cf712017a74b1_Fraunces72ptSuperSoft-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces72ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e67408a53de7b6670_Fraunces72ptSuperSoft-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces72ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e6cd868faec8abe83_Fraunces72ptSuperSoft-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces72ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3ee6bcfd51ec14bc52_Fraunces72ptSuperSoft-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces72ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e06da9a145890a128_Fraunces72ptSuperSoft-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces72ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e270cde4edc8a01e6_Fraunces72ptSuperSoft-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces144ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3fe92de96eebc79511_Fraunces144ptSuperSoft-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces144ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3fc55c8634dea2f51d_Fraunces144ptSuperSoft-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces144ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa407e04846d2c2a4ea3_Fraunces144ptSuperSoft-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces144ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa4033da417a64530d85_Fraunces144ptSuperSoft-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces144ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa409b4d780e8f4a70d0_Fraunces144ptSuperSoft-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces144ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa406cd86882438abe84_Fraunces144ptSuperSoft-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces144ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa402ef620bfee0e6c79_Fraunces144ptSuperSoft-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces144ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa4093cd547d585c569c_Fraunces144ptSuperSoft-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces144ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa40c15f1cef33faaad2_Fraunces144ptSuperSoft-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces144ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa4085ee3ed211b24199_Fraunces144ptSuperSoft-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces144ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa40dbaafd11b5fbf02d_Fraunces144ptSuperSoft-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces144ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa404711e99fbe27cdfa_Fraunces144ptSuperSoft-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces72ptsupersoft';
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa413cf471344403bf31_Fraunces72ptSuperSoft-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@layer components{
  /* Wrapper */
  .wrapper{
    @apply lg:px-0 max-w-1200sz flex flex-col items-center bg-transparent justify-center relative px-5 
  }
  
  .wrapper--hero{
    @apply min-h-720sz xl:max-w-1400sz
  }
  /* button */
  .button{
    @apply bg-brandAmber-dark hover:bg-brandAmber text-brandAmber-lighter px-10 py-30sz rounded-10sz uppercase font-bold flex items-center
  }
  .button--bg-image{
    @apply bg-btnBgImage
  }
  /* Header */
  .header{
    @apply flex pl-6 pr-2 absolute z-20 w-full items-center justify-center duration-500 transition lg:justify-between bg-headerBgImage translate-y-headerBg duration-300
  }
  .header--position-top{
    @apply w-full z-20 fixed 
  }
  .header--position-scrolled{
    @apply absolute
  }
  .header__nav{
    @apply hidden lg:block
  }
  .header__nav-list{
    @apply flex items-center
  }
  .header__nav-item{
    @apply px-4 
  }
  .header__logo{
    @apply w-32 h-28 py-5 px-15sz
  }
  .header__nav-link{
    @apply inline-block text-2xl font-bold leading-none transition duration-300 ease-in-out text-25sz py-7 font-fraunces72ptsupersoft hover:-translate-y-1 text-brandAmber-lighter hover:text-brandAmber-light;
  }
  .header__menu{
    @apply h-10 w-10 lg:hidden text-brandAmber-lighter ml-4
  }
  /* Hero */
  .hero{
    @apply overflow-hidden px-2 lg:px-6 bg-heroGradientBg flex justify-center items-center 
  }
  .hero__container{
    @apply grid grid-cols-1 lg:grid-cols-2 gap-20
  }
  .hero__content{
    @apply px-2 md:px-0 space-y-30sz
  }
  .hero__title{
    @apply font-black py-10sz mt-20 text-6xl sm:text-80sz lg:text-90sz leading-1.1 font-fraunces144ptsupersoft text-brandAmber-light bg-brandAmber-light bg-bgNoise bg-clip-text mix-blend-exclusion
  }
  .hero__description{
    @apply font-fraunces72ptsupersoft my-5 py-10sz font-semibold text-30sz sm:text-39sz lg:text-40sz text-brandAmber-lighter bg-brandAmber-lighter bg-bgNoise bg-clip-text mix-blend-exclusion
  }
  .hero__img-container{
    @apply overflow-hidden -mb-60sz mt-60sz sm:mt-0 sm:mb-0 self-end -mr-10 flex justify-center
  }
  .hero__img{
    @apply object-center object-contain lg:mt-56
  }
  /* GetCozy */
  .get-cozy{
    @apply flex items-center justify-center px-2 py-20 bg-0 bg-50 bg-brandAmber-lighter md:py-104sz lg:px-6 lg:py-140sz bg-cozyBgImage ;
    background-position-x: 0px, 0px, 0px;
    background-position-y: 0px, 0px, 0px;
    /* background-size: 50px,auto,cover; */
  }
  .get-cozy__container{
    @apply flex flex-col lg:flex-row 
  }
  .get-cozy__content{
    @apply flex-1 my-100sz xsm:pl-5 mlg:pl-10vw xsm:pr-5 md:pr-30sz mlg:max-w-560sz md:max-w-650sz lg:max-w-700sz xl:max-w-800sz
  }
  .get-cozy__heading {
    @apply flex items-center mb-4 text-brandBlack font-geomanist leading-none text-30sz uppercase font-bold tracking-0.125
  }
  .get-cozy__title{
    @apply font-semibold text-brandBlack font-fraunces72ptsupersoft text-70sz leading-1.1 mt-10 mb-10sz tracking-0.0625
  }
  .get-cozy__sub-title{
    @apply text-brandAmber font-fraunces72ptsupersoft font-normal text-37sz leading-1.45 mb-5
  }
  .get-cozy__description{
    @apply mb-15sz text-22sz text-brandBlack font-fraunces72ptsupersoft font-normal leading-1.6 tracking-0.0625
  }
  .get-cozy__companies{
    @apply grid grid-cols-1 sm:grid-cols-2 gap-4 items-center justify-items-center lg:self-center
  }
  .get-cozy__company-list{
    @apply self-center space-y-10 lg:px-5 flex flex-col
  }
  .get-cozy__img{
    @apply max-w-140sz xl:max-w-140sz
  }
  /* Testimonials */
  .testimonials{
    @apply flex items-center justify-center px-2  bg-brandAmber-lighter py-5 xsm:py-20 md:py-104sz mlg:px-6 mlg:py-140sz 
  }
  .testimonials__intro{
    @apply px-2 mb-10 mlg:px-15sz mlg:mb-82sz flex items-center justify-center flex-col
  }
  .testimonials__title{
    @apply text-brandBlack flex font-fraunces72ptsupersoft xsm:text-61 font-semibold xsm:leading-1.06 text-2xl leading-1.33 mt-60sz mb-30sz
  }
  .testimonials__line-divider{
    @apply w-10 bg-brandAmber-light mt-5 mb-6 mx-auto h-1
  }
  .testimonials__container{
    @apply  w-full -mt-2 mlg:w-10/12 mlg:-mt-15sz 
  }
  .testimonials__row{
    @apply relative flex justify-center items-stretch flex-wrap md:flex-nowrap
  }
  .testimony{
    @apply flex w-full mb-4 md:mb-0 md:w-1/2
  }
  .testimony--top-left{
    @apply justify-end items-end
  }
  .testimony--top-right{
    @apply mlg:pr-10% justify-start items-end
  }
  .testimony--bottom-left{
    @apply mlg:pl-10% justify-end items-start
  }
  .testimony--bottom-right{
    @apply justify-start items-start
  }
  .testimony__container{
    @apply m-2 mlg:m-15sz py-20 bg-bgNoise bg-50sz bg-clip-padding
  }
  .testimony--top-left .testimony__container{
    @apply pl-60sz pr-10 bg-brandBlack shadow-shadow50-primary rounded-t-80% rounded-bl-100% rounded-br-none flex flex-col items-center
  }
  .testimony--top-right .testimony__container{
    @apply bg-brandBlack-light pl-60sz pr-10 rounded-t-100% rounded-br-50% rounded-bl-none shadow-shadow50-secondary flex flex-col items-center
  }
  .testimony--bottom-right .testimony__container{
    @apply pl-60sz pr-10 rounded-br-60% rounded-tr-100% flex flex-col items-start bg-brandAmber-dark shadow-shadowlight-secondary 
  }
  .testimony--bottom-left .testimony__container{
    @apply pl-10 pr-10 rounded-b-60% rounded-tl-100% flex flex-col items-end bg-brandAmber shadow-shadowlight-primary
  }
  .testimony__avatar{
    @apply border-spacing-3sz rounded-32% w-20 h-20 border-white mb-6 mix-blend-luminosity object-center object-cover 
  }
  .testimony__heading{
    @apply font-fraunces72ptsupersoft font-semibold text-brandAmber-light mt-6 mb-3 leading-normal text-xl
  }
  .testimony__heading--position-right{
    @apply text-right self-end
  }
  .testimony__heading--position-left{
    @apply text-left self-start
  }
  .testimony__paragraph{
    @apply font-fraunces72ptsupersoft font-normal text-brandAmber-lighter mb-15sz leading-1.6 text-lg
  }
  .testimony__paragraph--position-right{
    @apply text-right self-end
  }
  .testimony__paragraph--position-left{
    @apply text-left self-start
  }
  .testimony__author{
    @apply font-geomanist uppercase font-bold text-brandAmber-lighter leading-1.33 text-xs tracking-0.25
  }
  .testimony__author--position-right{
    @apply text-right self-end
  }
  .testimony__author--position-left{
    @apply text-left self-start
  }
  .testimony__authorByline{
    @apply font-geomanist font-normal text-brandAmber-lighter mt-5sz leading-1.33 text-xs whitespace-pre-line opacity-70
  }
  .testimony__authorByline--position-right{
    @apply text-right self-end
  }
  .testimony__authorByline--position-left{
    @apply text-left self-start
  }
  /* Clients */
  .clients{
    @apply px-2 mlg:px-6 flex items-center justify-center bg-brandBlack
  }
  .clients__heading{
    @apply text-center mt-16 font-fraunces72ptsupersoft text-brandAmber-light italic font-normal leading-1.1 -tracking-tight opacity-80 text-30sz
  }
  .clients__list{
    @apply flex items-center flex-wrap md:flex-nowrap justify-center py-8 px-2 w-full
  }
  .client__item{
    @apply mx-3 my-9sz mlg:my-17sz mlg:mx-4 py-2 px-3 w-fit
  }
  .client__img{
    @apply h-8 w-fit
  }
  /* Menu link */
}